div.btn-group-budgetcalc{
  background: #3092c0;
  border-radius: 8px;
}

label.btn-budgetcalc{
  float: left;
  border-color: #3092c0;
  background: #3092c0;
  color: white;
}

label.btn-budgetcalc:hover{
  background: #2588b6;
  border-color: #2588b6;
  color: white;
}

button.btn-budgetcalc{
  float: left;
  border-color: #3092c0;
  background: #3092c0;
  color: white;
}

button.btn-budgetcalc:hover{
  background: #2588b6;
  border-color: #2588b6;
  color: white;
}

#bc-nav-items{
  font-size:large;
  font-weight: bold;
  color: white;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

.dropdown-menu > li > a {
    text-decoration: none;
}

.dropdown-menu > li > a:hover:after {
  text-decoration: none;
  transform: rotate(-90deg);
}

li a.dropdown-toggle, li a.bc-service-to-add {
  text-decoration: none;
  line-height: 23px;
  font-size: 16px;
  color: #2b82ac;
  border: 0 !important;
  list-style: none;
  direction: ltr;
  box-sizing: inherit;
  text-align: left;
  position: relative;
  display: block;
  font-family: "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  white-space: normal;
  padding: 9px 23px;
  background: transparent;
  border-radius: 0 !important;
  }

li a.dropdown-toggle:hover, li a.bc-service-to-add:hover {
  color: white;
  background-color: #2b82ac;
}

li a:hover:after {
  text-decoration: none;
  transform: rotate(-90deg);
  color: white;
  background-color: #2b82ac;
}
