/* This CSS file will be retired. Please place new CSS in bc_custom_2020.css. */

/* Rounded div corners */

/* input.btn {
  cursor: pointer;
  font-size: 13px;
  font-family: "Open Sans",Verdana,arial;
  padding: 2px 6px 2px 6px;
  margin: 0 3px 0 3px;
  border: 1px solid;
  border-color: #aaa #444 #444 #aaa;
  color: #222;
  background-color: #e3e3e3;
}

input.btn2 {
  cursor: pointer;
  padding: 1px 5px;
  margin: 0 3px;
  border: 1px solid;
  border-color: #9FB3FF #365AB6 #365AB6 #9FB3FF;
  color: #222;
  background-color: #CBD5EF;
  position: relative;
  font-family: "Open Sans",arial;
  font-size: 10px;
} */